.bakgrundsfarg {
  background-color: #fefae0;
}

.bakgrundsfarg-top {
  background-color: #a6b37d;
}

.bakgrundsfarg-standard {
  background-color: white;
}

.bakgrundsfarg-card {
  background-color: rgb(232, 231, 231);
}

.bakgrundsfarg-footer {
  background-color: #b9824b;
}

.nav-link:hover {
  background-color: #b9824b;
}

.knapp-farg {
  background-color: #a6b37d;
}

.knapp-farg:hover {
  background-color: #9baf59;
}

.hero-bakgrundsbild {
  background-image: url(Bilder/Tea_Hero.jpg);
  background-size: cover;
  background-position: center;
}

.fakta-bakgrundsbild {
  background-image: url(Bilder/Aside_bild.jpg);
  background-size: cover;
  background-position: center;
}

.frosted-glass {
  background-color: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
}
