.bakgrundsfarg {
  background-color: #fefae0;
}

.bakgrundsfarg-top {
  background-color: #a6b37d;
}

.bakgrundsfarg-standard {
  background-color: white;
}

.bakgrundsfarg-card {
  background-color: rgb(232, 231, 231);
}

.bakgrundsfarg-footer {
  background-color: #b9824b;
}

.knapp-farg {
  background-color: #49b64b;
}

.knapp-farg:hover {
  background-color: #49b64ba7;
}

.text-farg-gron {
  color: #49b64b;
}

.bakgrundsbild-ett {
  background-image: url(Bilder/Aside_bild.jpg);
  background-position: center;
  background-size: cover;
}

.bakgrund-frost {
  background-color: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
}
